:root{
   --color-primary:#0D1321 ;
   --color-secondary: #FAFAFB;
   --color-footer: #F7F8F8;
   --color-accent: #000072;
   --max-width: 114rem;

}


/* global styles */
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
html {
   font-size: 62.5%;
   background-color: #ffff;
}
body{
   color: var(--color-body-text);
   font-family: "Azeret Mono", monospace, Arial, Helvetica, sans-serif;
   font-size: 1.6rem;
   line-height: 1.5;
}
.main{
   margin: auto;
   max-width: var(--max-width);
}
h1, h2, h3, p {
   margin: 0;
}

h1 {
   font-size: 4.8rem;
}
h2{
   font-size: 3.2rem;
}
h3 {
   font-size: 2.4rem;
}
a{
   text-decoration: none;
}
a:link, a:visited, a:hover, a:active {
   color: inherit;
 }

li{
   list-style: none;
}

/* common styls */
.container{
   border-radius: 1.6rem;
   padding: 4.8rem;
   margin-top: 4.8rem;
}
.container-type-two{
   background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.btn{
   border-radius: 0.8rem;
   font-size: 2rem;
   font: 600;
   text-align: center;
   padding: 1.7rem 2.4rem;
}
.btn-primary{
   border: 1px solid var(--color-primary) ;
   background-color: var(--color-secondary);
   transition: background-color 0.15s, color 0.15s;
}
.btn-secondary{
   color: var(--color-secondary);
   background-color: var(--color-primary);
   transition: background-color 0.15s, color 0.15s;
}

.btn-primary:hover, .btn-secondary:hover{
   background-color: var(--color-accent);
   color: var(--color-secondary);
}
.btn-primary:active, .btn-primary:visited{
   color: var(--color-secondary);
}
.section-header {
   text-align: center;
   max-width: 85rem;
   /* margin-bottom: 2rem; */
   margin: auto;
}


/* header */
   /* nav */
   .navbar p{
      font-size: 2.8rem;
      font-weight: 600;
   }
   .navbar{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 3.8rem 15rem;
   }

   /* hero */
   .hero{
      background-image: url(assets/Hero-bg.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .hero-main{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 100rem;
      max-height: 60rem;
      margin: 5rem 0;
      gap: 3rem;
   }
   .hero-text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 3rem;
   }

/* body */
   /* why web dev */

   .why-web-dev{
      background-color: var(--color-secondary);
      padding: 8rem 9.7rem;
      margin-top: 7.4rem;
   }
   
   .why-dev-text{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.6rem;
      max-width: 48rem;
      max-height: 22rem;
   }
   .why-dev-text>.btn{
      margin-top: 1rem;
   }
   .why-web-dev>.container-type-two:nth-of-type(even){
      background: linear-gradient(-90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
   }
   
   /* inspiration */
   .inspiration{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 4.8rem;
      margin-top: 8.8rem;
      margin-bottom: 15rem;
   }
   .section-header>h2{
      margin-bottom: 2.4rem;
   }
   .video-wraper{
      border-radius: 1.6rem;
      border: 1px solid #0D1331;
      width: 100%;
      height: 61.4rem;
      padding: 3.8rem;
   }
  .video-wraper iframe{
   border-radius: 1.6rem;
   width: 100%;
   height: 100%;
  }
   
   /* current target */
   .current-target{
      display: flex;
      flex-direction: column;
      margin-bottom: 11rem;
   }
   .current-target-body{
      display: flex;
      gap: 2.4rem;
   }
   .skill-card{
      width: 38rem;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   }
   .skill-card p{
      margin-bottom: 2rem;
   }
   .html-card{
      background-color: #FFF6F4;
   }
   .css-card{
      background-color: #F2F6FE;
   }
   .js-card{
      background-color: #FFFDF2;
   }
   .skill-card a{
      text-decoration: underline;
      color: var(--color-primary);
      font-weight: 800;
      text-underline-offset: 0.2em;
   }
   
   /* next target */
   .next-target{
      margin-bottom: 4rem;
   }
   .tech-card{
      width: 100%;
      border: 1px solid var(--color-primary) ;
      display: flex;
      align-items: center;
      gap: 2.4rem;
   }
   .tech-card p {
      margin-bottom: 2rem;
   }
   .tech-card a{
      text-decoration: underline;
      color: var(--color-primary);
      font-weight: 800;
      text-underline-offset: 0.2em;
   }
   /* support */
   .support-me{
      background-image:linear-gradient(45deg,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.2)), url(assets/handshake.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      color: var(--color-secondary);
      margin-bottom: 8rem;
   }
.support-me .section-header{
   display: flex;
   flex-direction: column;
   gap: 5rem;
}
.support-me-text h2{
   margin-bottom: 1.6rem;
}
.support-submit input{
   width: 54.8rem;
   height: 5.7rem;
   border-radius: 8px;
   border: none;
}

input::placeholder{
   font-size: 1.6rem;
   padding-left: 2rem;
  }
.support-submit button {
   border: none;
}
/* footer */
.footer{
   background-color: var(--color-footer);
   height: 10rem;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.footer-body {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 15rem;
}
.social-connect{
   display: flex;
   gap: 2.4rem;

}
.footer h3{
   font-size: 2rem;
}