:root{
   --color-primary:#0D1321 ;
   --color-secondary: #FAFAFB;
   --color-background: #C4C4C4;
   --color-footer: #F7F8F8;
   --color-accent: #000072;
   --max-width: 114rem;

}


/* global styles */
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
html {
   font-size: 62.5%;
}
body{
   color: var(--color-body-text);
   font-family: "Azeret Mono", monospace, Arial, Helvetica, sans-serif;
   font-size: 1.6rem;
   line-height: 1.5;
}
.main{
   margin: auto;
   max-width: var(--max-width);
}
h1, h2, h3, p {
   margin: 0;
}

h1 {
   font-size: 4.8rem;
}
h2{
   font-size: 3.2rem;
}
h3 {
   font-size: 2.4rem;
}
a{
   text-decoration: none;
}
a:link, a:visited, a:hover, a:active {
   color: inherit;
 }

li{
   list-style: none;
}

/* common styls */
.container{
   border-radius: 1.6rem;
}

.btn{
   border-radius: 0.8rem;
   font-size: 2rem;
   font: 600;
   text-align: center;
   padding: 1.7rem 2.4rem;
}
.btn-primary{
   border: 1px solid var(--color-primary) ;
   background-color: var(--color-secondary);
   transition: background-color 0.15s, color 0.15s;
}
.btn-secondary{
   color: var(--color-secondary);
   background-color: var(--color-primary);
   transition: background-color 0.15s, color 0.15s;
}
.btn-primary:hover, .btn-secondary:hover{
   background-color: var(--color-accent);
   color: var(--color-secondary);
}
.btn-primary:active, .btn-primary:visited{
   color: var(--color-secondary);
}
/* header */
   /* nav */
   .navbar p{
      font-size: 2.8rem;
      font-weight: 600;
   }
   .navbar{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 3.8rem 15rem;
   }

   /* hero */
   .hero{
      background-image: url(/assets/Hero-bg.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .hero-main{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 100rem;
      max-height: 60rem;
      margin: 3rem 0;
      gap: 3rem;
   }
   .hero-text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 3rem;
   }

/* body */
   /* why web dev */
   /* inspiration */
   /* current target */
   /* next target */
   /* support */

/* footer */